@page "/fetchdata"
@inject HttpClient Http
@inject ILanguageContainerService languageContainer

<h1>@languageContainer.Keys["FetchData:WeatherForcast"]</h1>

<p>@languageContainer.Keys["FetchData:WeatherTitle"]</p>

@if (forecasts == null)
{
    <p><em>@languageContainer.Keys["FetchData:Loading"]...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@languageContainer.Keys["FetchData:Date"]</th>
                <th>@languageContainer.Keys["FetchData:Temp"]. (C)</th>
                <th>@languageContainer.Keys["FetchData:Temp"]. (F)</th>
                <th>@languageContainer.Keys["FetchData:Summury"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
